[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agent-framework = "*"
python-dotenv = "*"
mcp-atlassian = "*"

[dev-packages]

[requires]
python_version = "3.12"
